<div class="container">
  <div class="h4">Pendling: {{ pendingCompute | json }}</div>
  <div class="row">
    <div class="col-4">
      <form [formGroup]="form">
        <div class="row align-items-center">
          <div class="col-2">
            <label class="mb-0" for="price">Price</label>
          </div>
          <div class="col">
            <input type="text" formControlName="price" class="form-control">
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-2">
            <label class="mb-0" for="price">Tax</label>
          </div>
          <div class="col">
            <input type="text" formControlName="tax" class="form-control">
          </div>
        </div>
      </form>
    </div>
    <div class="col">
      <label for="">Form Data</label>
      <code>
        {{ form?.value | json }}
      </code>
      <label for="">Compute</label>
      <code>
        {{ data$ | async | json }}
      </code>
      <div>
        <label for="">REsponse</label>
        <div>
          <code>{{ list$ | async | json }}</code>
        </div>
      </div>
    </div>
  </div>
</div>